.card {
    border: 3px solid black;
    border-radius: 10%;
    padding: 10px;
    max-width: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
}
img {
    width: 100px;
    height: 100px; 

}

.yellow-bg {
    background-color: yellow;
}